PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/swasthyasathi
JWT_SECRET=your_jwt_secret_key_here

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Super Admin Credentials
ADMIN_EMAIL=admin1@hotmail.com
ADMIN_PASSWORD=1111
